{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "ignoreFiles": ["build/**/*", "node_modules/"],
  "rules": {
    "function-disallowed-list": ["rgb", "rgba", "hsl", "hsla"],
    "alpha-value-notation": "percentage",
    "color-named": "never",
    "declaration-block-no-redundant-longhand-properties": null
  }
}
