:root {
  --primary-text: #224957;
  --primary: #093545;
  --primary-light: #E5E5E5;
  --primary-link: #000;
  --primary-field: #224957;
  --white: #fff;
  --wave: #20DF7F;
  --black: #000;
  --action: #20DF7F;
  --error: #D46B6BFF;
}
